* {
    margin: 0;
    padding: 0;
}

.container {
    padding: 0 15px;
    max-width: 1500px;
    margin:0 auto ;
}

.name{
    text-align: center;
    font-size: 50px;
    color: #e39b00;
    
}
.list li{
    display: inline-block;
    margin-left: 60px;

}
.list a {
    font-size: 20px;
    line-height: 10;
    color: aqua;
    text-decoration: none;
    font-weight: 700;
}
.hdr{
    background: #0a0a0a;
    text-align: center;
    /* margin-top: -20px;
    padding-left: -40px;
    padding-right: -40px; */
}
.mainp{
    text-align:left;
    color: blanchedalmond;
    font-size: 20px;
    
}
.sec2 div {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
.h {
    text-align: center;
    font-size: 35px;
    color: #e39b00;
    margin-top: 30px;
    margin-bottom: 30px;
}
.img{
    display: block;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
.pr{
    text-align:left;
    color: blanchedalmond;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.yt{
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}
.foottext {
    text-align: center;
    font-size: 20px;
    color: #e39b00;
}
.fhr{
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
    color: aqua;
    margin-bottom: 40px;
}
.foot{
    background-color: #0a0a0a;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-top: 20px;
}